<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemant_Gayakwad</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page1">
        <div class="top">
            <div class="logo">
                <a href="#"><i class="fa-solid fa-spider"></i></a>
            </div>
            <div class="navLinks">
                <a class="git" href="https://github.com/HemantGayakwad"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/hemant-gayakwad-0b4162319/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <h1 class="heading pacifico-regular" >Who is this <span style="color: #e15c5c;"> individual </span>is</h1>
        <div class="pic">
            <img src="https://media.licdn.com/dms/image/v2/D5622AQHF7n3rBX_xtA/feedshare-shrink_800/feedshare-shrink_800/0/1728810551529?e=1731542400&v=beta&t=woyIJYYF92mmZWHulh0ZO9uwP-uUW7EsZivCp9HeTk4" alt="Hemant">
        </div>
    </div>
    <div class="page2">
        <div class="move">
            <div class="marque">
                <h3>
                    Hemant Gayakwad ?
                </h3>
            </div>
            <div class="marque">
                <h3>
                    Hemant Gayakwad ?
                </h3>
            </div>
            <div class="marque">
                <h3>
                    Hemant Gayakwad ?
                </h3>
            </div>
            <div class="marque">
                <h3>
                    Hemant Gayakwad ?
                </h3>
            </div>
            <div class="marque">
                <h3>
                    Hemant Gayakwad ?
                </h3>
            </div>
        </div>
        <div class="content">
            <h3>
                Hi! <br> I am the fullstack developer and ux and ui freelance designer.
                <br>I am also part-time content creator.
                <br>I've Youtube channel <br><span> <a href="#" style="color: #e15c5c; text-decoration: none;">its programmer</a> </span><br> as well as instagram page.
                <br> I've been persuing bachelors in Computer science sinse 3 years.
                <br>Along with that I've  also created some projects using my skills.
            </h3>
        </div>
        <div class="btns">
            <a class="hii"  href="mailto:hemantgaykwad555@gmail.com">say Hi :)</a>
            <a class="repo" href="https://github.com/HemantGayakwad?tab=repositories">Watch  my repo</a>
        </div> 
    </div>
    <div class="page3">
        <div class="heading2">
            <h3>
                Things I'm <span style="color :#37bed3c2"> good</span>at
            </h3>
            <p> skills, interest, passion, hobbies</p>
        </div>
        <div class="cc">
            <img src="https://th.bing.com/th/id/R.b398f99052bebaba4d4eb54b96ff7ea2?rik=Mme4rikoKk0vtA&riu=http%3a%2f%2fwww.eds.fr%2fwp-content%2fuploads%2f2016%2f11%2fLa-version-7-de-Node.js-est-desormais-disponible.jpg&ehk=9D2nmHenG3mWAxByI7ZalxQDrR6WWWojrSPdPb1MddI%3d&risl=&pid=ImgRaw&r=0" alt="node">
            <img src="https://www.edureka.co/blog/wp-content/uploads/2019/07/express-logo.png" alt="express">
            <img src="https://wallpaperaccess.com/full/8174697.jpg" alt="html">
            <img src="https://th.bing.com/th/id/OIP.BAwJnB3maWaRiZsXTXTmcwHaEK?rs=1&pid=ImgDetMain" alt="react">
            <img src="https://th.bing.com/th/id/OIP.YIq31cuCt0nyeiePlbpMqQHaD4?w=1000&h=525&rs=1&pid=ImgDetMain" alt="github">
            <img src="https://th.bing.com/th/id/OIP.WYCH3tYBx68H1c8LkL8aigHaCt?rs=1&pid=ImgDetMain" alt="java">
            <img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20230703144619/CPP-Language.png" alt="c++">
            <img src="https://th.bing.com/th/id/OIP.Ie_MJg_cy7B7gf4Uo7qP6wAAAA?rs=1&pid=ImgDetMain" alt="mongoDB">
        </div>
        <div class="projects">
            <h3>crafted with <span style="color: #e15c5c;"><3</span></h3>
                <hr>
                <a href="https://wanderlust-clo7.onrender.com/listings"> Wanderlust fullstack Project</a>
                <hr>
                <a href="https://github.com/HemantGayakwad/Coaching_Institute_website">Coaching institude website design</a>
                <hr>
        </div>
        <div class="about">
            <h3> visit me here <span style="color: bisque;">:) </span></h3>
            <div class="aboutlinks">
                <a href="https://www.linkedin.com/in/hemant-gayakwad-0b4162319/"> <img src="https://th.bing.com/th/id/OIP.hVsNNMEX8g9JU1JKFd-XMAHaD6?rs=1&pid=ImgDetMain" alt="linkedin"></a>
                <a href="https://www.youtube.com/@Itsprogrammer981"> <img src="https://th.bing.com/th/id/OIP.mtNBa3Gp8t-8H43otU2ObQHaFP?rs=1&pid=ImgDetMain" alt="youtube"></a>
                <a href="https://www.instagram.com/its_programmerrr___/?igsh=MXhlN3lnZDR4dDBiNA%3D%3D"><img src="https://wallpapercave.com/wp/wp7155491.jpg" alt="instagram">   </a>
            </div>
        </div>
    </div>
    <div class="page4">
        <h3>You can contact me via <a href="mailto:hemantgaykwad555@gmail.com"><span style="color: #e15c5c;">
            mail</a></span></h3>
            <p> created with <i class="fa-solid fa-heart"></i> by me</p>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="script.js"></script>
</body>
</html>